<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin">
    CameraResult: {{cameraResult}}
  </div>
  
  <div class="ion-margin ion-text-center">
    <ion-button (click)="runCamera()">Open PhotoLibrary</ion-button>
  </div>

  <div div class="ion-margin" *ngIf="photoDataUrl">
    <img [src]="photoDataUrl">
  </div>
</ion-content>